.drop-zone {
	padding: 1%;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	/* font-family: "Quicksand", sans-serif; */
	font-weight: 500;
	font-size: 20px;
	cursor: pointer;
	color: #cccccc;
	border-radius: 7px;
}

.drop-zone--over {
	border-style: solid;
}

.drop-zone_input {
	display: none;
}

.drop-zone_thumb {
	width: 100%;
	height: 100%;
	border-radius: 7px;
	overflow: hidden;
	background-color: #ffffff;
	background-repeat: no-repeat;
    background-size: contain;
	background-position: center;
	position: relative;
}

.drop-zone_thumb::after {
	content: attr(data-label);
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	padding: 1%;
	color: #ffffff;
	background: rgba(0, 0, 0, 0.75);
	font-size: 14px;
	text-align: center;
}