# FastAPI
fastapi==0.100.0
pydantic-settings==2.0.2
python-multipart==0.0.6
python-dotenv==1.0.0
uvicorn==0.22.0

# Model
torch==2.0.0
torchvision==0.15.1
cupy-cuda11x==12.1.0
opencv-python==4.8.0.74
scipy
matplotlib
pyyaml
git+https://github.com/openai/CLIP.git

# Download
gdown==4.7.1