.upload-drop-zone {
	display: flex;
	padding: 1%;
	align-items: center;
	justify-content: center;
	text-align: center;
	font-family: "Quicksand", sans-serif;
	font-weight: 500;
	font-size: 1.25rem;
	cursor: pointer;
	color: #cccc;
	border: 2px dashed white;
	border-radius: 5px;
}

.upload-drop-zone.active {
	border-style: solid;
}

.upload-drop-zone input {
	display: none;
}

.upload-drop-zone thumb {
	width: 100%;
	height: 100%;
	padding: 1%;
	border-radius: 5px;
	overflow: hidden;
	background-color: white;
	background-repeat: no-repeat;
    background-size: contain;
	background-position: center;
	position: relative;
}

/* .upload-drop-zone thumb::after {
	content: attr(data-label);
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	padding: 1%;
	color: white;
	background-color: #cccccc;
	background: rgba(0, 0, 0, 0.75);
	font-size: 14px;
	text-align: center;
} */

.image-frame {
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	background-color: rgba(75, 85, 99);
	background-repeat: no-repeat;
    background-size: contain;
	background-position: center;
	border-radius: 7px;
  }